# Pepe Framework v3.0
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

set mysql_connection_string "mysql://root:@localhost/pepe-framework"
set mysql_slow_query_warning 250
set mysql_debug 0
set es_enableCustomData 1


# FiveM Core Resources
start mapmanager
start spawnmanager
start sessionmanager
start fivem
start hardcap
start debug
start baseevents

exec resources.cfg

# Allows lambda
sv_scriptHookAllowed 0


# tags
sets tags "highdevelopment, pepe, framework"

sets Discord "https://discord.gg/"

# Banner
sets banner_detail ""
sets banner_connecting ""

sv_hostname "Pepe-Framework.com - Full Framework - ORIGINAL!"

sets sv_projectName "Pepe-Framework.com"

sets sv_projectDesc " - Full Framework - ORIGINAL!"


sets locale "en-US" 
# Nested configs!
#exec server_internal.cfg

# Loading a server icon (96x96 PNG file)
load_server_icon myLogo.png

# convars which can be used in scripts
set temp_convar "pepe"

# Uncomment this line if you do not want your server to be listed in the server browser.
#sv_master1 ""

# Add system admins
add_principal group.moderator
add_ace group.admin command allow # allow all commands

add_principal identifier.steam:

# Hide player endpoints in external log output.
sv_endpointprivacy true

# max clients
sv_maxclients 48
sv_useDirectListing true
setr voice_useSendingRangeOnly true
setr voice_use3dAudio true
set sv_enforceGameBuild 2189

onesync_enabled 1

sv_licenseKey cfxk_1Oxs248fE39EWwKbbPdIF_35KrTQ

set steam_webApiKey "22F1F2A60B123B8753B61C19DD802857"
